## Importing needed modules into notebook session

In [1]:
import sys
import os
sys.path.insert(0, 'C:/Users/Lenovo/Desktop/gambling/gambling_com_task_solution/src') 
import data_profiler
import pandas as pd
from data_profiler import snowflake_analysis_class
from environs import Env
import datetime

## Data profiling of provided dataset

In [2]:
dataset_processing = data_profiler.PandasAnalysisClass('C:/Users/Lenovo/Desktop/gambling/gambling_com_task_solution/Python_Test/Fixtures.csv')

In [3]:
dataset_processing.pandas_data_profiler('C:/Users/Lenovo/Desktop/gambling/gambling_com_task_solution/Python_Test')

'data_profiling_results_saved_into_output_location'

### Checking data quality before manipulation process

In [5]:
os.getcwd()

'C:\\Users\\Lenovo\\Desktop\\gambling\\gambling_com_task_solution\\Python_Test\\2024-10-23_profiled_dataframe'

In [6]:

pd.read_excel(os.getcwd()+f'profiled_dataframe_{datetime.date.today()}')

NameError: name 'datetime' is not defined

## Part 1

### Load "Fixtures.csv" into Pandas Dataframe

In [5]:
dataset_processing.read_dataframe()

,Date,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamScores
0,12/09/2020,Crystal Palace,Southampton,1,0
1,12/09/2020,Fulham,Arsenal,0,3
2,12/09/2020,Liverpool,Leeds,4,3
3,12/09/2020,West Ham,Newcastle,0,2
4,13/09/2020,Tottenham,Everton,0,1
...,...,...,...,...,...
375,23/05/2021,Liverpool,Crystal Palace,2,0
376,23/05/2021,Man City,Everton,5,0
377,23/05/2021,Sheffield United,Burnley,1,0
378,23/05/2021,West Ham,Southampton,3,0
379,23/05/2021,Wolves,Man United,1,2

## Part 2

### Running method from created class to apply below requests,

-	Removes all rows where the fixture contains 'Man City'.

-	Updates all cells where 'Brighton' occurs to 'Brighton & Hove Albion'.

-	Returns a DataFrame that shows the standings for a given date.
Each team gets 3 points for a win, 1 for a draw and 0 for a loss.

In [6]:
dataset_processing.data_manipulator('Man City', {'Brighton' : 'Brighton & Hove Albion'})

,POSITION,CLUB,MATCHES_PLAYED,WIN,DRAW,LOSS,GOALS_FOR,GOALS_AGAINST,GOAL_DIFFERENCE,POINTS
,,,,,,,,,,
CLUB,,,,,,,,,,
Man United,1,Man United,36,20,10,6,71,44,27,70
Liverpool,2,Liverpool,36,20,8,8,66,37,29,68
West Ham,4,West Ham,36,19,7,10,60,44,16,64
Chelsea,4,Chelsea,36,18,10,8,55,32,23,64
Leicester,5,Leicester,36,19,6,11,63,46,17,63
Arsenal,6,Arsenal,36,18,7,11,55,37,18,61
Everton,8,Everton,36,17,8,11,46,40,6,59
Tottenham,8,Tottenham,36,17,8,11,66,42,24,59
Leeds,10,Leeds,36,17,4,15,59,52,7,55
Aston Villa,10,Aston Villa,36,16,7,13,54,42,12,55
Newcastle,12,Newcastle,36,12,9,15,43,56,-13,45
Wolves,12,Wolves,36,12,9,15,34,45,-11,45
Crystal Palace,13,Crystal Palace,36,12,8,16,41,60,-19,44
Southampton,14,Southampton,36,12,7,17,45,62,-17,43
Burnley,15,Burnley,36,10,9,17,33,48,-15,39
Brighton & Hove Albion,16,Brighton & Hove Albion,36,8,14,14,37,43,-6,38
Fulham,17,Fulham,36,5,13,18,27,48,-21,28
West Brom,18,West Brom,36,5,10,21,34,70,-36,25
Sheffield United,19,Sheffield United,36,7,2,27,20,61,-41,23

## Part 3

### Using the function you created in Part 2, call the function to return the standings as at 25th December 2020 and export this DataFrame to a CSV file

In [7]:
dataset_processing.data_manipulator = dataset_processing.data_manipulator_date_filter(dataset_processing.data_manipulator)
dataset_processing.data_manipulator('Man City', {'Brighton' : 'Brighton & Hove Albion'},'25/12/2020')

'dataframe saved to working directory'

## Part 4

### DELETE on the STANDINGS table to clear out any existing data and using the function you created in Part 2, write the Standings as at the end of the season to this table in Snowflake.

In [8]:
env = Env()
env.read_env('C:/Users/Lenovo/Desktop/gambling/gambling_com_task_solution/Python_Test/.env')

True

In [9]:
snowflake_processing = snowflake_analysis_class(os.getenv("SNOWFLAKE_USERNAME"),
                                                os.getenv("SNOWFLAKE_PASSWORD"),
                                                os.getenv("SNOWFLAKE_ACCOUNT"),
                                                "DEVELOPER_SANDBOX",
                                                'TECH_TEST')

In [10]:
snowflake_processing.table_operations()

c:\Users\Lenovo\Desktop\gambling\gambling_com_task_solution\Lib\site-packages\snowflake\connector\config_manager.py:351: UserWarning: Bad owner or permissions on C:\Users\Lenovo\.snowflake\connections.toml
  warn(f"Bad owner or permissions on {str(filep)}{chmod_message}")
C:\Users/Lenovo/Desktop/gambling/gambling_com_task_solution/src\data_profiler\pandas_analysis_class.py:163: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_source = pd.read_sql(f'SELECT * FROM {table_to_drop}', con = ctx)
C:\Users/Lenovo/Desktop/gambling/gambling_com_task_solution/src\data_profiler\pandas_analysis_class.py:168: UserWarning: Pandas Dataframe has non-standard index of type <class 'pandas.core.indexes.base.Index'> which will not be written. Consider changing the index to pd.RangeIndex(start=0,...,step=1) or call reset_index() to keep index as column(s)
  success, nchunks, nrows, _ = write_pandas(ctx, df_to_write,  table_to_drop ,index = False)

The error is: columns names are not matching with target table on snowflake 000904 (42000): SQL compilation error: error line 1 at position 87
invalid identifier '"('POSITION', '')"'

C:\Users/Lenovo/Desktop/gambling/gambling_com_task_solution/src\data_profiler\pandas_analysis_class.py:172: UserWarning: Pandas Dataframe has non-standard index of type <class 'pandas.core.indexes.base.Index'> which will not be written. Consider changing the index to pd.RangeIndex(start=0,...,step=1) or call reset_index() to keep index as column(s)
  success, nchunks, nrows, _ = write_pandas(ctx, df_to_write,  table_to_drop ,index = False)
C:\Users/Lenovo/Desktop/gambling/gambling_com_task_solution/src\data_profiler\pandas_analysis_class.py:173: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_source = pd.read_sql(f'SELECT * FROM {table_to_drop}', con = ctx)